*{
    margin: 0;

}
.app__header{
    /* position: fixed; */
    /* border: 1px solid lightgrey; */
    background-color: white;
    object-fit: contain;
    padding: 8px; 
    border-bottom: 1px solid lightgrey; 
}
.app{
    background-color: fafafa;
    height: 100vh;
}
.app_headercomponent{
    position: fixed;
}



