.post{
    max-width: 420px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    margin-top: 30px;
    margin-left: 320px;
    border-radius: 8px;
   

}


.post__header{
    display: flex;
    align-items: center;
    padding: 10px;
    /* margin-left: 140px;  */
    border: 1px solid lightgrey;
    border-radius: 5px 5px 0px 0px;

}
.post__headerRighticon{
    margin-left: 290px;
    cursor: pointer;
}
 /* .rightsidehead{
    display: flex;
    align-items: center;
    
} */
/* .post__username{
    margin-left: 4px;
} */ */

.post__image{
    width: 420px;
    height: 420px;
    /* object-fit: contain; */
    /* border-top: 1px solid lightgray; */
    /* border-bottom: 1px solid lightgray; */
    /* margin-left: 10px; */
    
    

}
.post__text{
    font-weight: normal;
    padding: 10px;
    /* border-bottom: 1px solid lightgray; */
}

.post__avatar{
    margin-right: 10px;
}
.post__imagśfootIcon{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */

}
.righticon{
    margin-left: 280px;
    cursor: pointer;
}
.post__imagePart{
    /* margin-left: 10px; */
    width: 420px;
}
.lefticon{
    display: flex;
    align-items: center;
    margin-left:10px;
    cursor: pointer;
    
}
.favicon{

    margin-right: 5px;
}
.mapugcicon{
    margin-left: 8px;

}
.nearmeicon{
    margin-left: 13px;
}
/* .post__commentSection{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 9px;

} */
.commenttext{
    font-weight: normal;
    padding: 10px;

}
.commenticon{
    margin-left: 7px;
    cursor: pointer;
}
.commentsec__input{
    /* border: 0px solid lightgray; */
    /* margin-left: 2px; */
    flex: 1;
    padding: 10px;
    border-top: 0px solid lightgray;
    border-bottom: 0px solid lightgray;
    border-left: 0px solid lightgray;
    border-right: 0px solid lightgray;
    /* margin-bottom: 5px; */

}
.commentsec__textarea{
    border: 0px;
    margin-left: 2px;
}
.commentsec__post{
    font-weight: normal;
    margin-right: 2px;
}
.post__totalcomments{
    font-weight: normal;
    /* border-bottom: 1px solid lightgray; */
    margin-left: 13px;
    margin-bottom: 5px;

}
.post__timestamp{
    font-weight: normal;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid lightgray; */
}
.post__content{
    border-bottom: 1px solid lightgray;
}
.postusername{
    cursor: pointer;
}
.post__commentbox{
    display: flex;
    align-items: center;
    margin-top: 10px;

}
/* .commentsec__input{
    flex: 1;
} */
.post__button{
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    /* border-top:1px solid lightgray; */
    margin-right: 4px;
    font-weight: bold;
    cursor: pointer;
}
